<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<h2>>list </h2>
<ul>
    <cdk-virtual-scroll-viewport itemSize="100" style="height: 500px"><!-- przesyła 100 danych jednocześnie --> 
        <ng-container  *cdkVirtualFor="let item of array;templateCacheSize: 5"><!-- zapamiętuje 5 widoków -->
  <li  >
    <app-list-item item1={{item.index}} item2={{item.id}}></app-list-item>
  </li>
</ng-container>
</cdk-virtual-scroll-viewport>
</ul>

